<script>
    $(Document).ready(function () {
        $("#btn").click(function () {
            window.history.back();
        });
    });
</script>


<h1>该类别无数据</h1>
<button id="btn" >返回</button>

